# Fichiers de configuration sensibles
src/main/resources/application.properties

# Compilation Java / Gradle
target/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar
bin/
out/
*.class

# Logs
*.log
logs/

# IDE - IntelliJ
.idea/
*.iml
*.ipr
*.iws

# IDE - Eclipse
.classpath
.project
.settings/
.apt_generated/

# IDE - VS Code
.vscode/

# Système d'exploitation
.DS_Store
Thumbs.db

# Postman
.postman/